<h2>Lista de categorias:</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success mb-2">Adicionar categoria</button></a>

{{#each categorias}}
<div class="card mt-2 border-dark">
    <div class="card-header">
        <h4>{{nome}}</h4>
        <small><b>Slug:</b> {{slug}}</small>
        <br>
        <small><b>Data de criação:</b> {{date}}</small>
    </div>
    <div class="card-body">
        <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success">Editar</button></a>        
        <form  action="/admin/postagens/delete" method="POST" style="display:inline">
            <input type="hidden" name="id" id="" value ="{{_id}}">
            <button type="submit" class="btn btn-danger ml-1">Deletar</button>
        </form>
    </div>
</div>
{{else}}
    <div class="mt-2">Nenhuma categoria cadastrada</div>
{{/each}}

<p class="mb-4"></div>