<h2>Lista de postagens:</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Adicionar postagem</button></a>

{{#each postagens}}
<div class="card mt-4 mb-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <h5>{{descricao}}</h5>
        <p>{{conteudo}}</p>
        <small>Slug: {{slug}}</small>
        <br>
        <small>Data de criação: {{date}}</small>
        <br>
        <small>Categoria: {{categoria.nome}}</small>
        <br>
        <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-4">Editar</button></a>
        <a href="/admin/postagens/delete/{{_id}}"><button class="btn btn-danger ml-1 mt-4">Deletar</button></a>
    </div>
</div>
{{else}}
    <div class="mt-4">Nenhuma postagem cadastrada</div>
{{/each}}